.login__form {
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    border-radius: .3rem;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}


@media (min-width: 801px) {
    .login__form {
        padding: 2rem;
        background-color: white;
        margin: 5rem;
        padding-bottom: 10rem;
    }

    .imagem {

    }
}